[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "include/joj/vendor/stb"]
	path = include/joj/vendor/stb
	url = https://github.com/nothings/stb.git
